# <font color='green'>PROJETO INTEGRADOR 3 - Análise de Dados 1</font>
# <font color='green'>Projeto 5 - Diabetes dos Índios Pima - Parte41</font>
## <font color='green'>Começando a Limpeza dos Dados - C</font>

### Carregando os pacotes, o dataset e o módulo de funções.

In [3]:
# Importando os Dados
import math
import numpy as np
import pandas as pd

# Criamos uma lista para identificar valores ausentes
lista_labels_valores_ausentes = ["n/a", "na", "NA", "undefined"]

# Carregando o Dataset
dataset = pd.read_csv("dataset_parte3.csv", na_values = lista_labels_valores_ausentes)

# Carregando o módulo que contém as funções específicas para limpeza de Dados
from limpeza_dados import *

In [5]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "pyPRO - Transformando vidas com o Poder do Código!" --iversions

Author: pyPRO - Transformando vidas com o Poder do Código!

numpy : 1.24.3
json  : 2.0.9
pandas: 2.0.3

In [7]:
dataset.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148.0,72.0,35.0,33.6,0.627,50,1
1,1,1,85.0,66.0,29.0,26.6,0.351,31,0
2,2,8,183.0,64.0,29.0,23.3,0.672,32,1
3,3,1,89.0,66.0,23.0,28.1,0.167,21,0
4,4,0,137.0,40.0,35.0,43.1,2.288,33,1

In [9]:
# Como o arquivo salvo não possuia id, ao sarvar o arquivo, o pandas cria uma nova coluna de identificação e ele chama de Unnamed:0 
# Vamos removê-la.
dataset.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [11]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,33.6,0.627,50,1
1,1,85.0,66.0,29.0,26.6,0.351,31,0
2,8,183.0,64.0,29.0,23.3,0.672,32,1
3,1,89.0,66.0,23.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,43.1,2.288,33,1

In [13]:
# Shape
dataset.shape

(768, 8)

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   BMI                       768 non-null    float64
 5   DiabetesPedigreeFunction  768 non-null    float64
 6   Age                       768 non-null    int64
 7   Outcome                   768 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 48.1 KB

In [17]:
# Verificando os valores ausentes no dataset com as funções:
# Porcentual total de valores ausentes
calcular_porcentagem_valores_ausentes(dataset)

O conjunto de dados tem 0.0% de valores ausentes.

In [19]:
# Porcentagem de valores ausentes por coluna
relatorio_valores_ausentes_por_coluna(dataset)

O conjunto de dados tem 8 colunas.
Foram encontradas 0 colunas com valores ausentes.

Empty DataFrame
Columns: [Quantidade de Ausentes, Porcentagem de Ausentes, Tipo de Dado]
Index: []

### Limpando os Dados - C 
### Analisando valores Outliers

![title](outliers.png)

In [23]:
# Cria um objeto para tratar valores outliers
trata_outlier = ManipuladorDeOutliers(dataset)

In [25]:
# Cria uma lista de colunas float64
lista_colunas = dataset.select_dtypes('float64').columns.tolist()

In [27]:
lista_colunas

['Glucose',
 'BloodPressure',
 'SkinThickness',
 'BMI',
 'DiabetesPedigreeFunction']

In [29]:
# Mostra uma visão geral dos outliers
trata_outlier.gerar_visao_geral(lista_colunas)

Nome da Coluna,SkinThickness,DiabetesPedigreeFunction,BloodPressure,BMI,Glucose
Mínimo,7.0,0.078,24.0,18.2,44.0
Q1,25.0,0.24375,64.0,27.5,99.75
Mediana,29.0,0.3725,72.202592,32.3,117.0
Q3,32.0,0.62625,80.0,36.6,140.25
Máximo,99.0,2.42,122.0,67.1,199.0
IQR,7.0,0.3825,16.0,9.1,40.5
Limite Inferior,14.5,-0.33,40.0,13.85,39.0
Limite Superior,42.5,1.2,104.0,50.25,201.0
Assimetria,0.837608,1.919911,0.137305,0.599233,0.532719
Num_Outliers,87,29,14,8,0
Percentual de Outliers,0.06%,0.02%,0.01%,0.01%,0.0%

In [31]:
# Substituição dos outliers por margens definidas
trata_outlier.substituir_outliers_por_limites(lista_colunas)

In [33]:
# Mostra uma visão geral dos outliers
trata_outlier.gerar_visao_geral(lista_colunas)

Nome da Coluna,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction
Mínimo,44.0,40.0,14.5,18.2,0.078
Q1,99.75,64.0,25.0,27.5,0.24375
Mediana,117.0,72.202592,29.0,32.3,0.3725
Q3,140.25,80.0,32.0,36.6,0.62625
Máximo,199.0,104.0,42.5,50.25,1.2
IQR,40.5,16.0,7.0,9.1,0.3825
Limite Inferior,39.0,40.0,14.5,13.85,-0.33
Limite Superior,201.0,104.0,42.5,50.25,1.2
Assimetria,0.532719,0.100925,-0.057643,0.349882,1.024428
Num_Outliers,0,0,0,0,0
Percentual de Outliers,0.0%,0.0%,0.0%,0.0%,0.0%

### Salvando os Dados desta Etapa.

In [36]:
# Salvando os dados
dataset.to_csv('dataset_parte4.csv')

## <font color='green'>Fim da Parte 04</font>