# <font color='green'>PROJETO INTEGRADOR 3 - Análise de Dados 1</font>
# <font color='green'>Projeto 5 - Diabetes dos Índios Pima - Parte 31</font>>
## <font color='green'>Começando a Limpeza dos Dados - B</font>

### Carregando os pacotes, o dataset e o módulo de funções.

In [3]:
# Importando os Dados
import math
import numpy as np
import pandas as pd

# Criamos uma lista para identificar valores ausentes
lista_labels_valores_ausentes = ["n/a", "na", "NA", "undefined"]

# Carregando o Dataset
dataset = pd.read_csv("dataset_parte2.csv", na_values = lista_labels_valores_ausentes)

# Carregando o módulo que contém as funções específicas para limpeza de Dados
from limpeza_dados import *

In [5]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "pyPRO - Transformando vidas com o Poder do Código!" --iversions

Author: pyPRO - Transformando vidas com o Poder do Código!

numpy : 1.24.3
pandas: 2.0.3
json  : 2.0.9

In [7]:
dataset.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [9]:
# Como o arquivo salvo não possuia id, ao sarvar o arquivo, o pandas cria uma nova coluna de identificação e ele chama de Unnamed:0 
# Vamos removê-la.
dataset.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [11]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [13]:
# Shape
dataset.shape

(768, 9)

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [17]:
# Verificando os valores ausentes no dataset com as funções:
# Porcentual total de valores ausentes
calcular_porcentagem_valores_ausentes(dataset)

O conjunto de dados tem 9.43% de valores ausentes.

In [19]:
# Porcentagem de valores ausentes por coluna
relatorio_valores_ausentes_por_coluna(dataset)

O conjunto de dados tem 9 colunas.
Foram encontradas 5 colunas com valores ausentes.

               Quantidade de Ausentes  Porcentagem de Ausentes Tipo de Dado
Insulin                           374                    48.70      float64
SkinThickness                     227                    29.56      float64
BloodPressure                      35                     4.56      float64
BMI                                11                     1.43      float64
Glucose                             5                     0.65      float64

### Limpando os Dados - B

Podemos ver que a coluna "Insulin" (Insulina) possui quase 50% de valores nulos. Portanto, como estamos falando de um valor muito superior a 30% então vamos apagar (drop) a coluna inteira.

In [23]:
# Função para remover colunas
remover_colunas(dataset, ["Insulin"])

1 coluna foi removida.

In [25]:
# Porcentagem de valores ausentes por coluna
relatorio_valores_ausentes_por_coluna(dataset)

O conjunto de dados tem 8 colunas.
Foram encontradas 4 colunas com valores ausentes.

               Quantidade de Ausentes  Porcentagem de Ausentes Tipo de Dado
SkinThickness                     227                    29.56      float64
BloodPressure                      35                     4.56      float64
BMI                                11                     1.43      float64
Glucose                             5                     0.65      float64

In [27]:
# Verificação de Assimetria dos dados
dataset.skew()

Pregnancies                 0.901674
Glucose                     0.530989
BloodPressure               0.134153
SkinThickness               0.690619
BMI                         0.593970
DiabetesPedigreeFunction    1.919911
Age                         1.129597
Outcome                     0.635017
dtype: float64

**REGRA:** 
- Valores com com ALTA assimetria fazemos a imputação de dados com a MEDIANA.
- Valores com média ou baixa assimetria, utilizamos a MÉDIA.

Para este dataset:

- Acima de 0.55           --> Alta Assimetria     
- Igual ou abaixo de 0.55 --> Média/Baixa Assimetria

Portanto:
- ALTA ASSIMETRIA (SkinThickness, BMI)
- MÉDIA/BAIXA ASSIMETRIA (BloodPressure, Glucose)

In [31]:
# ALTA ASSIMETRIA (SkinThickness, BMI) --> Preenchimento com MEDIANA
preencher_ausentes_com_mediana(dataset, "BMI")

11 valores ausentes na coluna BMI foram preenchidos com a mediana 32.3.

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [33]:
# ALTA ASSIMETRIA (SkinThickness, BMI) --> Preenchimento com MEDIANA
preencher_ausentes_com_mediana(dataset, "SkinThickness")

227 valores ausentes na coluna SkinThickness foram preenchidos com a mediana 29.0.

0      35.0
1      29.0
2      29.0
3      23.0
4      35.0
       ...
763    48.0
764    27.0
765    23.0
766    29.0
767    31.0
Name: SkinThickness, Length: 768, dtype: float64

In [35]:
# MÉDIA/BAIXA ASSIMETRIA (BloodPressure, Glucose) --> Preenchimento com MÉDIA
preencher_ausentes_com_media(dataset, "BloodPressure")

35 valores ausentes na coluna BloodPressure foram preenchidos com a média 72.40518417462484.

0      72.0
1      66.0
2      64.0
3      66.0
4      40.0
       ...
763    76.0
764    70.0
765    72.0
766    60.0
767    70.0
Name: BloodPressure, Length: 768, dtype: float64

In [37]:
# MÉDIA/BAIXA ASSIMETRIA (BloodPressure, Glucose) --> Preenchimento com MÉDIA
preencher_ausentes_com_media(dataset, "Glucose")

5 valores ausentes na coluna Glucose foram preenchidos com a média 121.6867627785059.

0      148.0
1       85.0
2      183.0
3       89.0
4      137.0
       ...
763    101.0
764    122.0
765    121.0
766    126.0
767     93.0
Name: Glucose, Length: 768, dtype: float64

In [39]:
# Porcentagem de valores ausentes por coluna
relatorio_valores_ausentes_por_coluna(dataset)

O conjunto de dados tem 8 colunas.
Foram encontradas 0 colunas com valores ausentes.

Empty DataFrame
Columns: [Quantidade de Ausentes, Porcentagem de Ausentes, Tipo de Dado]
Index: []

### Salvando os Dados desta Etapa.

In [42]:
# Salvando os dados
dataset.to_csv('dataset_parte3.csv')

## <font color='green'>Fim da Parte 03</font>